body {
    margin: 0;
    background: rgb(237, 237, 237);
}

.header {
    background: #fff;
    height: 60px;
    box-shadow: 0 5px 5px #888;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.headline {
    display: inline-block;
    padding: 8px;
    margin: 0;
}

.season-select {
    display: inline-block;
    font-size: 20px;
}

.global-stats {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    text-align: right;
}

.total-cats,
.user-one-total-cats,
.user-two-total-cats,
.update-date {
    font-weight: bold;
}

.headline .eos {
    color: #CC0033;
}

.total-cats,
.user-one-total-cats {
    margin-right: 8px;
}

.controls-wrapper {
    box-shadow: 0 -5px 5px #888;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 175px;
    width: 100%;
    background: #fff;
    overflow: scroll;
    margin: 0;
    padding: 10px 10px 0 10px;
}

.cat-btn-list,
.user-list,
.select-action-btns {
    display: inline-block;
    list-style-type: none;
    margin: 0 0 8px;
    padding: 0;
}

.select-action-btns {
    float: right;
    margin-right: 10px;
}

.user-list li,
.select-action-btns li {
    display: inline-block;
    margin-right: 5px;
}

.cat-btn-li {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
}

.cat-btn {
    height: 80px;
    width: 80px;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
    position: relative;
}

.cat-btn-cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    font-size: 30px;
}
.cat-btn.selected .cat-btn-cover {
    display: block;
}

.cat-btn-span {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -17px;
    height: 100%;
    width: 100%;
}

.cat-btn:hover {
  background-color: rgb(178, 178, 178);
}

.graph-wrap {
    padding-top: 60px;
    margin-bottom: 200px;
}

.first-row {
    min-height: 250px;
    margin: 10px;
    text-align: center;
}

.second-row {
    min-height: 250px;
    margin: 0 10px 0 10px;
}

.pie-charts,
.rank-table {
    display: inline-block;
    text-align: center;
}

.pie-charts {
    width: 69%;
    vertical-align: top;
}

.rank-table {
    width: 29%;
}

.rank-table table {
    width: 100%;
}

.rank-table table,
.rank-table tr,
.rank-table th,
.rank-table td {
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}

.total-cat-pie {
    margin-right: 30px;
}

.cat-box {
    position: relative;
}

.color-block {
    height: 40px;
    width: 40px;
    background-color: red;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 0;
    margin-right: 20px;
}

.total-pie-wrap,
.selected-pie-wrap {
    display: inline-block;
}

.total-pie-wrap div,
.selected-pie-wrap div {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.line-title {
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.scroll-info {
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -69px;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,0.8);
    z-index: 2;
}
.overlay .login-wrapper {
    top: 50%;
    height: 200px;
    width: 500px;
    background: #fff;
    left: 50%;
    position: absolute;
    margin-top: -100px;
    margin-left: -250px;
    border-radius: 5px;
}
.login-wrapper h3 {
    text-align: center;
}
.login-wrapper .passcode {
    display: block;
    margin: auto;
    width: 80%;
}
.login-wrapper .login-btn-wrap {
    margin-top: 25px;
}
.login-wrapper .login-btn-wrap button {
    display: block;
    margin: auto;
    margin-bottom: 5px;
    width: 175px;
    background: #D6D6D6;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
}
